## Import Dependencies

In [194]:
import pandas as pd
import numpy as np
import requests
import csv
import json

## Product IDs For Women's Shoes

In [195]:
url = "https://ali-express1.p.rapidapi.com/productsByCategoryV2/100001606"

querystring = {"sort_type":"default","page":"1","page_size":"1000","sort_order":"default"}

headers = {
	"X-RapidAPI-Key": "f112b58c1fmshcc6465ec5c6e3b1p1e5ca3jsnc80fbff27442",
	"X-RapidAPI-Host": "ali-express1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

json = response.json()
json

{'code': 200,
 'cost': 13,
 'data': {'abVersion': '1',
  'crawler': False,
  'searchResult': {'mods': {'searchTips': {'content': {'tipsType': 'request_invalid',
      'tipsMessage': 'Sorry, your search did not match any products. Please try again.'}}},
   '_cost': 0.057287,
   'pvid': '7725add0-7a2d-4743-a8a2-b65975a628aa',
   'pageInfo': {'totalResults': 0,
    'success': False,
    'finished': True,
    'searchResultType': 'zero_result'},
   '_host': 'hippo.033001229125.us44',
   'scm': '1007.28539.297875.0',
   'version': 1.0,
   'srpResult': [1],
   'tpp_trace': '210318cf16686338187883594eaf72'},
  'trafficChannel': 'main'},
 'success': True}

In [196]:
## We want 'productID', 'title':'displayTitle', 'prices':'salePrice':'formattedPrice', 'evaluation':'starRating'

In [197]:
wshoes_df = pd.DataFrame(json)

wshoes_df

,code,cost,data,success
abVersion,200,13,1,True
crawler,200,13,False,True
searchResult,200,13,{'mods': {'searchTips': {'content': {'tipsType...,True
trafficChannel,200,13,main,True

In [198]:
# create dataframe
wshoes_df = pd.json_normalize(data)
wshoes_df

,code,cost,success,data.abVersion,data.crawler,data.searchResult.mods.searchRapidFilters.content,data.searchResult.mods.searchRefineFilters.content,data.searchResult.mods.sortBar.tItemType,data.searchResult.mods.sortBar.content,data.searchResult.mods.itemList.content,...,data.searchResult.modsStyle.image.small_gap,data.searchResult.modsStyle.prices.decimal_point,data.searchResult.modsStyle.prices.comma_style,data.searchResult.modsStyle.prices.symbol_position,data.searchResult._host,data.searchResult.scm,data.searchResult.version,data.searchResult.srpResult,data.searchResult.tpp_trace,data.trafficChannel
0,200,710,True,1,False,"[{'paramType': 'List', 'rapidTiling': True, 'i...","[{'paramType': 'String', 'rapidTiling': False,...",nt_mainsearch_sortbar,"[{'sortOrders': [{'selected': True, 'order': '...",[{'image': {'imgUrl': 'https://ae04.alicdn.com...,...,2,.,",",left,hippo.033001228173.us44,1007.28539.297875.0,1.0,[20],2103255b16686276040591903ea479,main

In [199]:
wshoes_df = wshoes_df[['data.searchResult.mods.itemList.content']]
df

,code,cost,data,success
allImageList,200,36,[https://ae01.alicdn.com/kf/A4c2c5bcbeda54c109...,True
currentPage,200,36,1,True
evaViewList,200,36,"[{'anonymous': False, 'buyerAddFbDays': 0, 'bu...",True
filterInfo,200,36,"{'currentFilter': 'all', 'filterStatistic': [{...",True
pageSize,200,36,20,True
productEvaluationStatistic,200,36,"{'evarageStar': 4.2, 'evarageStarRage': 84.9, ...",True
totalNum,200,36,141,True
totalPage,200,36,8,True
version,200,36,0.0.0,True

In [200]:
wshoes_productId = ((wshoes_df["data.searchResult.mods.itemList.content"].values[0][0]['productId']))


wshoes_productId_list = []


for i in range (20):
    each_value = ((wshoes_df["data.searchResult.mods.itemList.content"].values[0][i]['productId']))
    
    wshoes_productId_list.append(each_value)

print(wshoes_productId_list)

['3256803290146743', '3256804146039143', '3256804644198485', '3256803305179821', '3256803305197705', '3256803290148690', '3256804417681054', '3256804655013583', '3256804568740738', '3256803313822268', '3256802759707769', '3256804450894638', '3256804606583693', '3256804614754103', '3256804617472927', '3256804139482283', '3256803147612333', '3256804531066038', '3256804564507961', '3256804546795854']

In [201]:
wshoes_title = ((wshoes_df["data.searchResult.mods.itemList.content"].values[0][0]['title']))

wshoes_title_list = []

for i in range (20):
    each_value = ((wshoes_df["data.searchResult.mods.itemList.content"].values[0][i]['title']['displayTitle']))
    wshoes_title_list.append(each_value)
    
print(wshoes_title_list)

['2021 Wool wool slippers autumn and winter women comfortable home with warm indoor quiet soft bottom Hao-008-APEX', 'Best Selling Smiley Face Ladies Warm Furry Home House Cute Bedroom Pantoufle Women  Men Slippers', '2022 autumn winter new short ladies lightweight round neck knit jacket outdoor leisure sports fashion high-end delicate', "2021 Spring new leisure one-word solid color beach slippers indoor drag fashion women's shoes SU02", 'summer new style sandals and slippers, soft bottom indoor yanJc15 tai  3025', '2022 new Casual shoes for women a foot of flat shoes casual shoes KIDS01 Hao-004-kids', '2022 New Women Indoor Slippers Warm Plush Home Slipper Anti Slip Autumn Winter Shoes House Floor Soft Slient Slides for Bedroom', 'Women Winter Luxury Fashion Cotton Bubble Slides Flat Platform Round Toe Warm Bubble Slippers Wholesale Bulk Women Shoes Big', 'Bad Bunny Un Verano Sin Ti Autumn Winter Fulffy Fur Slippers Plush Fleece Flat Love Heart Slippers Indoor Slippers Couple Shoes', 'NEW Winter Keep Warm Women Fur Furry Slippers for Home Fluffy Soft Indoor Slides Non Slip Indoor House Shoes', '2022 Summer Women Fashion Personality Indoor Home bathroom Massage Bubble Slide Men Lady Outdoor Beach Thick Sole Bubble Slipper', 'YISHEN Unisex Summer Slides For Women Indoor Slippers Bubble Slides Massage Litchi Sandals Fashion Designer Sandals Men Clogs', 'Cute Animal Slipper For Women Girls Kawaii Fluffy Winter Warm Upgrate Slippers Woman Cartoon Milk Cow House Slippers Funny Shoes', "autumn period and the new single shoes for women's shoes flat round head soft light and comfortable shoes", 'Women Boots Platform High Top Fashion Boots Side Zipper Lace-up Versatile Warm Women Boots Cartoon Animal Decoration White Boots', 'Man Women Shark Slippers Summer Home Anti-skid EVA Solid Color Couple Parents Kids Outdoor Cool Indoor Household Funny Shoes', 'Disposable Slippers 5 Pairs Of Plush Shoes Travel Wedding Customizable Pattern Hospitality Enlarge Code Multiple Colors', 'Women Boots Slip On Winter Shoes For Women Waterproof Ankle Boots Winter Boots Female Snow Botines 2022 Black Botas Femininas', "Classic Men's Casual Loafers Driving Shoes Moccasin Fashion Male Comfortable Autumn Leather Shoes Men Lazy Tassel Dress Shoes", 'Women Cute Bubble Slippers Massage Litchi Slipper Slides Eva Flip Flops Anti-Slip House Shoes Stress Relief Sole Beach Sandals']

In [202]:
wshoes_price_list = []

for i in range (20):
    each_value = ((wshoes_df["data.searchResult.mods.itemList.content"].values[0][i]['prices']['salePrice']['formattedPrice']))
    wshoes_price_list.append(each_value)
    
print(wshoes_price_list)

['US $35.48', 'US $8.82', 'US $70.94', 'US $19.53', 'US $19.83', 'US $24.62', 'US $3.45', 'US $8.63', 'US $9.99', 'US $19.99', 'US $6.90', 'US $13.28', 'US $8.74', 'US $25.31', 'US $36.33', 'US $12.08', 'US $5.99', 'US $11.57', 'US $29.37', 'US $10.60']

In [203]:
wshoes_star_list = []

for i in range (20):
    each_value = ((wshoes_df["data.searchResult.mods.itemList.content"].values[0][i]['starRating']))
    wshoes_star_list.append(each_value)
    
print(wshoes_star_list)

KeyError: 'starRating'

In [212]:
## Create dataframe with women's boots product ids, titles, prices, and star ratings. 

dict = {'Product ID': wshoes_productId_list, 'title': wshoes_title_list, 'Price': wshoes_price_list}

womens_shoes_df = pd.DataFrame(dict)

womens_shoes_df.head()

,Product ID,title,Price
0,3256803290146743,2021 Wool wool slippers autumn and winter wome...,US $35.48
1,3256804146039143,Best Selling Smiley Face Ladies Warm Furry Hom...,US $8.82
2,3256804644198485,2022 autumn winter new short ladies lightweigh...,US $70.94
3,3256803305179821,2021 Spring new leisure one-word solid color b...,US $19.53
4,3256803305197705,"summer new style sandals and slippers, soft bo...",US $19.83

## Product IDs For Women's Boots

In [ ]:
url = "https://ali-express1.p.rapidapi.com/productsByCategoryV2/200216407"

querystring = {"sort_type":"default","page":"1","page_size":"20","sort_order":"default"}

headers = {
	"X-RapidAPI-Key": "d60b547ecbmshfef17f77d83986cp115e1ajsne03176a7f3a6",
	"X-RapidAPI-Host": "ali-express1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

wboots_json = response.json()

In [ ]:
wboots_df = pd.DataFrame(wboots_json)

In [ ]:
# create dataframe
wboots_df = pd.json_normalize(wboots_json)
wboots_df

,code,cost,success,data.abVersion,data.crawler,data.searchResult.mods.searchRapidFilters.content,data.searchResult.mods.searchRefineFilters.content,data.searchResult.mods.sortBar.tItemType,data.searchResult.mods.sortBar.content,data.searchResult.mods.itemList.content,...,data.searchResult.modsStyle.image.small_gap,data.searchResult.modsStyle.prices.decimal_point,data.searchResult.modsStyle.prices.comma_style,data.searchResult.modsStyle.prices.symbol_position,data.searchResult._host,data.searchResult.scm,data.searchResult.version,data.searchResult.srpResult,data.searchResult.tpp_trace,data.trafficChannel
0,200,724,True,1,False,"[{'paramType': 'List', 'rapidTiling': True, 'i...","[{'paramType': 'String', 'rapidTiling': False,...",nt_mainsearch_sortbar,"[{'sortOrders': [{'selected': True, 'order': '...","[{'lunchTime': '2022-09-30 00:00:00', 'image':...",...,2,.,",",left,hippo.033003005227.us68,1007.28539.297875.0,1.0,[20],210318c216686282910303755e9d24,main

In [ ]:
wboots_df = wboots_df[['data.searchResult.mods.itemList.content']]
wboots_df

             data.searchResult.mods.itemList.content
0  [{'lunchTime': '2022-09-30 00:00:00', 'image':...

In [ ]:
wboosts_productId = ((wboots_df["data.searchResult.mods.itemList.content"].values[0][0]['productId']))


wboots_productId_list = []


for i in range (20):
    each_value = ((wboots_df["data.searchResult.mods.itemList.content"].values[0][i]['productId']))
    
    wboots_productId_list.append(each_value)

print(wboots_productId_list)

['3256804617472927', '3256804483026473', '3256804628848718', '3256804531066038', '3256804728034603', '3256804718617801', '3256804594023362', '3256804570453332', '3256803312673446', '3256804571739712', '3256804728478128', '3256803512234986', '3256804610608871', '3256804158391470', '3256804180023633', '3256803970221231', '3256804274369718', '3256804549567127', '3256804460765289', '3256804611897209']

In [ ]:
wboots_title = ((wboots_df["data.searchResult.mods.itemList.content"].values[0][0]['title']))

wboots_title_list = []

for i in range (20):
    each_value = ((wboots_df["data.searchResult.mods.itemList.content"].values[0][i]['title']['displayTitle']))
    wboots_title_list.append(each_value)

print(wboots_title_list)

['Women Boots Platform High Top Fashion Boots Side Zipper Lace-up Versatile Warm Women Boots Cartoon Animal Decoration White Boots', '2022 New Thick Plush Winter Keep Warm Boots for Women Non-slip Waterproof Snow Boots Woman Flat Heels Warm Cotton Padded Shoes', "Top Quality LP New Winter Boots Wool Warm  Fleece Ladies Fashion Low Snow Boots Comfort Loafers Single Casual Women's Boots", 'Women Boots Slip On Winter Shoes For Women Waterproof Ankle Boots Winter Boots Female Snow Botines 2022 Black Botas Femininas', 'Waterproof Boots Women Winter 2022 Non-slip Winter Snow Boots Platform Shoes Warm Ankle Boots Women Cotton Shoes Bottine Femme', '2022 Winter Boots Fur Ladies Snow Boots Real Sheepskin Wool Low-cut Warm Fur Shoes Man and Women Winter Short Boots Super Mini', 'Women Boots Super Warm Snow Boots For Winter Shoes Women Waterproof Ankle Boots With Heels Casual Winter Botas Mujer 2022 New', 'New Snow Boot Style Short Mini Winter Sheepskin Boots Women Waterproof Natural Wool Ankle Boots Fur Lined Ankle Warm Flat Shoes', "Women's Winter Snow Boots Outdoor Luxury Furry Faux Fox Fur Boots Woman Plush Warm Platform Shoes New Fashion Bottes Big Size 44", "Ladies Casual Comfortable Simple Fashion 2023 New Students Short Boots Women's Ankle Boots Knit Socks Platform Women's Slip-ons", 'Lace up Martin boots shoes new in down boots shoes for women ankle boots shoes for women 2022 boots women', 'BJ Shoes Lightweight Winter Shoes for Men Snow Boots for Women Waterproof Winter Footwear Slip on Unisex Ankle Winter Boots', 'Women Boots Ankle Waterproof Winter Boots For Women Snow Botas Mujer Warm Black Winter Shoes Women Heels Platform Boots Female', 'GOGD Retro Autumn Winter White Knee High Boots Big Size 41 Women Comfy Walking Female Western Cowboy Boot For Dropshipping Shoes', 'Unisex Sock Aqua Shoes Skinners Swimming Sneakers Yoga Minimalist Beach Sports Barefoot Ultra Portable Lightweight Run Footwear', '22 Spring New Handmade Genuine Leather Brushed Loafers Loafers Top Layer Cattlehide Leather Fashion Chain Thick Bottom Chunky', "Paris Station Fashion Women's Boots Pointed Toe High Heel Boots Sexy Motorcycle Boots Four Seasons Party Over Knee Boots", "Luxury Brand 2023 New Women Thick-soled Thick-heeled Warm Boots Women's Towel Cotton Boots Motorcycle Boots 36-43 Boots Women", 'Elastic Socks Boots Fashion Ankle Boots Women High Heel Thicks  Heel Square Toe Short Boots Women Retro 2022 New Ladies Shoes', 'Waterproof Winter Boots for Women 2022 New Faux Fur Long Plush Snow Boots Woman Platform Ankle Boots Warm Cotton Couples Shoes']

In [ ]:
wboots_price_list = []

for i in range (20):
    each_value = ((wboots_df["data.searchResult.mods.itemList.content"].values[0][i]['prices']['salePrice']['formattedPrice']))
    wboots_price_list.append(each_value)
    
print(wboots_price_list)

['US $36.33', 'US $15.28', 'US $48.50', 'US $11.57', 'US $4.35', 'US $54.48', 'US $16.92', 'US $11.26', 'US $31.64', 'US $10.40', 'US $185.00', 'US $11.45', 'US $16.93', 'US $37.52', 'US $18.41', 'US $47.53', 'US $49.80', 'US $8.76', 'US $12.20', 'US $18.18']

In [ ]:
wboots_star_list = []

for i in range (20):
    each_value = ((wboots_df["data.searchResult.mods.itemList.content"].values[0][i]['starRating']))
    wboots_star_list.append(each_value)
    
print(wboots_star_list)

KeyError: 'starRating'

In [211]:
## Create dataframe with women's boots product ids, titles, prices, and star ratings. 

dict = {'Product ID': wboots_productId_list, 'title': wboots_title_list, 'Price': wboots_price_list}

womens_boots_df = pd.DataFrame(dict)

womens_boots_df.head()

,Product ID,title,Price
0,3256804617472927,Women Boots Platform High Top Fashion Boots Si...,US $36.33
1,3256804483026473,2022 New Thick Plush Winter Keep Warm Boots fo...,US $15.28
2,3256804628848718,Top Quality LP New Winter Boots Wool Warm Fle...,US $48.50
3,3256804531066038,Women Boots Slip On Winter Shoes For Women Wat...,US $11.57
4,3256804728034603,Waterproof Boots Women Winter 2022 Non-slip Wi...,US $4.35

## Product IDs For Women's Flats

In [ ]:
url = "https://ali-express1.p.rapidapi.com/productsByCategoryV2/200002155"

querystring = {"sort_type":"default","page":"1","page_size":"20","sort_order":"default"}

headers = {
	"X-RapidAPI-Key": "d60b547ecbmshfef17f77d83986cp115e1ajsne03176a7f3a6",
	"X-RapidAPI-Host": "ali-express1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

wflats_json = response.json()

In [ ]:
wflats_df = pd.DataFrame(wflats_json)

In [ ]:
# create dataframe
wflats_df = pd.json_normalize(wflats_json)
wflats_df

,code,cost,success,data.abVersion,data.crawler,data.searchResult.mods.searchRapidFilters.content,data.searchResult.mods.searchRefineFilters.content,data.searchResult.mods.sortBar.tItemType,data.searchResult.mods.sortBar.content,data.searchResult.mods.itemList.content,...,data.searchResult.modsStyle.image.small_gap,data.searchResult.modsStyle.prices.decimal_point,data.searchResult.modsStyle.prices.comma_style,data.searchResult.modsStyle.prices.symbol_position,data.searchResult._host,data.searchResult.scm,data.searchResult.version,data.searchResult.srpResult,data.searchResult.tpp_trace,data.trafficChannel
0,200,400,True,1,False,"[{'paramType': 'List', 'rapidTiling': True, 'i...","[{'paramType': 'String', 'rapidTiling': False,...",nt_mainsearch_sortbar,"[{'sortOrders': [{'selected': True, 'order': '...",[{'image': {'imgUrl': 'https://ae04.alicdn.com...,...,2,.,",",left,hippo.033001229125.us44,1007.28539.297875.0,1.0,[20],2103250d16686292734348526ea780,main

In [ ]:
wflats_df = wflats_df[['data.searchResult.mods.itemList.content']]
f

In [ ]:
wflats_productId = ((wflats_df["data.searchResult.mods.itemList.content"].values[0][0]['productId']))


wflats_productId_list = []


for i in range (20):
    each_value = ((wflats_df["data.searchResult.mods.itemList.content"].values[0][i]['productId']))
    
    wflats_productId_list.append(each_value)

print(wflats_productId_list)

print(wshoes_productId_list)

['3256803290146743', '3256803305179821', '3256803636531347', '3256803305197705', '3256803290148690', '3256804623328276', '3256804614754103', '3256804552876588', '3256804428351342', '3256804146965002', '3256804555376850', '3256804583276496', '3256804096886433', '3256802423567155', '3256802144987986', '3256803361828219', '3256804265767660', '3256804679939115', '3256804627451745', '3256804082257567']
['3256803290146743', '3256804146039143', '3256804644198485', '3256803305179821', '3256803305197705', '3256803290148690', '3256804417681054', '3256804655013583', '3256804568740738', '3256803313822268', '3256802759707769', '3256804450894638', '3256804606583693', '3256804614754103', '3256804617472927', '3256804139482283', '3256803147612333', '3256804531066038', '3256804564507961', '3256804546795854']

In [ ]:
wflats_title = ((wflats_df["data.searchResult.mods.itemList.content"].values[0][0]['title']))

wflats_title_list = []

for i in range (20):
    each_value = ((wflats_df["data.searchResult.mods.itemList.content"].values[0][i]['title']['displayTitle']))
    wflats_title_list.append(each_value)

print(wflats_title_list)

print(wshoes_title_list)

['2021 Wool wool slippers autumn and winter women comfortable home with warm indoor quiet soft bottom Hao-008-APEX', "2021 Spring new leisure one-word solid color beach slippers indoor drag fashion women's shoes SU02", 'Fujin 10cm Platform Wedge Sneakers Chunky Shoes Genuine Leather for Women Summer Shoes Spring Autumn Walking Sneakers Fashion', 'summer new style sandals and slippers, soft bottom indoor yanJc15 tai  3025', '2022 new Casual shoes for women a foot of flat shoes casual shoes KIDS01 Hao-004-kids', 'New style cotton slippers cotton slippers autumn and winter women indoor and outdoor floor skid-proof thick bottom', "autumn period and the new single shoes for women's shoes flat round head soft light and comfortable shoes", 'Cotton slippers ladies autumn and winter indoor wool slippers warm home cotton slippers anti-slip', '2022 the new leisure shoes lazy flat shoes', 'ZZFABER Barefoot Shoes Women Sneakers Flexible Ladies Casual Flats Unisex Aqua Shoes Soft Hiking Sports Running Shoes for Men', "2022 Brand Summer Genuine Leather Women's Sandals Classic Rivet Pointed High Heels Sexy Luxury Pumps Wedding Party Shoes", "Leather slippers winter women's home slippers plush warm anti-slip AP3kuan", "Women's Jersey Round Toe Soft Ladies Moccasins Breathable Comfortable Work Shoes Fashion Ladies Flat Lightweight Driving Loafers", '2021 Fashion Women Black Sneakers 44 Chaussure Femme Women Sneakers Zipper Canvas Casual Shoes Woman Spring Ladies Shoe', 'MIA 090 Shoes', 'Slippers female summer soft bottom household indoor non-slip feet couple bathroom bathing silent sandals and slippers YJ-6', 'ADVOCATOR Splatoon Print High Top Canvas Shoes for Women Girl Casual Spring Ladies Sneakers Student Running Shoes Free Shipping', "LEOPARD LAND Girls' Lolita Shoes Women PU Thick Sole Students JK Uniform Mary Jane Shoes Japanese Cosplay Vintage Fashion HYGC", '2022 high quality thick-soled canvas shoes luxury brand design spring and autumn sports and leisure shoes.', '2022 Girl Street Leather Women Casual Sport Shoes  Mesh Patchwork Stripe Comfortable Sneakers Seasons Trainers']
['2021 Wool wool slippers autumn and winter women comfortable home with warm indoor quiet soft bottom Hao-008-APEX', 'Best Selling Smiley Face Ladies Warm Furry Home House Cute Bedroom Pantoufle Women  Men Slippers', '2022 autumn winter new short ladies lightweight round neck knit jacket outdoor leisure sports fashion high-end delicate', "2021 Spring new leisure one-word solid color beach slippers indoor drag fashion women's shoes SU02", 'summer new style sandals and slippers, soft bottom indoor yanJc15 tai  3025', '2022 new Casual shoes for women a foot of flat shoes casual shoes KIDS01 Hao-004-kids', '2022 New Women Indoor Slippers Warm Plush Home Slipper Anti Slip Autumn Winter Shoes House Floor Soft Slient Slides for Bedroom', 'Women Winter Luxury Fashion Cotton Bubble Slides Flat Platform Round Toe Warm Bubble Slippers Wholesale Bulk Women Shoes Big', 'Bad Bunny Un Verano Sin Ti Autumn Winter Fulffy Fur Slippers Plush Fleece Flat Love Heart Slippers Indoor Slippers Couple Shoes', 'NEW Winter Keep Warm Women Fur Furry Slippers for Home Fluffy Soft Indoor Slides Non Slip Indoor House Shoes', '2022 Summer Women Fashion Personality Indoor Home bathroom Massage Bubble Slide Men Lady Outdoor Beach Thick Sole Bubble Slipper', 'YISHEN Unisex Summer Slides For Women Indoor Slippers Bubble Slides Massage Litchi Sandals Fashion Designer Sandals Men Clogs', 'Cute Animal Slipper For Women Girls Kawaii Fluffy Winter Warm Upgrate Slippers Woman Cartoon Milk Cow House Slippers Funny Shoes', "autumn period and the new single shoes for women's shoes flat round head soft light and comfortable shoes", 'Women Boots Platform High Top Fashion Boots Side Zipper Lace-up Versatile Warm Women Boots Cartoon Animal Decoration White Boots', 'Man Women Shark Slippers Summer Home Anti-skid EVA Solid Color Couple Parents Kids Outdoor Cool Indoor Household Funny Shoes', 'Disposable Slippers 5 Pairs Of Plush Shoes Travel Wedding Customizable Pattern Hospitality Enlarge Code Multiple Colors', 'Women Boots Slip On Winter Shoes For Women Waterproof Ankle Boots Winter Boots Female Snow Botines 2022 Black Botas Femininas', "Classic Men's Casual Loafers Driving Shoes Moccasin Fashion Male Comfortable Autumn Leather Shoes Men Lazy Tassel Dress Shoes", 'Women Cute Bubble Slippers Massage Litchi Slipper Slides Eva Flip Flops Anti-Slip House Shoes Stress Relief Sole Beach Sandals']

In [ ]:
wflats_price_list = []

for i in range (20):
    each_value = ((wflats_df["data.searchResult.mods.itemList.content"].values[0][i]['prices']['salePrice']['formattedPrice']))
    wflats_price_list.append(each_value)
    
print(wflats_price_list)

['US $35.48', 'US $19.53', 'US $37.80', 'US $19.83', 'US $24.62', 'US $24.05', 'US $25.31', 'US $18.98', 'US $30.37', 'US $20.75', 'US $55.00', 'US $33.44', 'US $35.00', 'US $27.49', 'US $300.00', 'US $21.15', 'US $34.13', 'US $16.63', 'US $47.44', 'US $30.00']

In [205]:
wflats_star_list = []

for i in range (20):
    each_value = ((wflats_df["data.searchResult.mods.itemList.content"].values[0][i]['starRating']))
    wboots_star_list.append(each_value)
    
print(wflats_star_list)

KeyError: 'starRating'

In [209]:
##Create dataframe with women's boots product ids, titles, prices, and star ratings. 

dict = {'Product ID': wflats_productId_list, 'title': wflats_title_list, 'Price': wflats_price_list}

womens_flats_df = pd.DataFrame(dict)

ValueError: All arrays must be of the same length

## Product IDs For Men's Shoes

In [ ]:
url = "https://ali-express1.p.rapidapi.com/productsByCategoryV2/100001615"

querystring = {"sort_type":"default","page":"1","page_size":"20","sort_order":"default"}

headers = {
	"X-RapidAPI-Key": "d60b547ecbmshfef17f77d83986cp115e1ajsne03176a7f3a6",
	"X-RapidAPI-Host": "ali-express1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

mshoes_json = response.json()

In [ ]:
mshoes_df = pd.DataFrame(mshoes_json)

In [ ]:
mshoes_df = pd.json_normalize(mshoes_json)
mshoes_df

,code,cost,success,data.abVersion,data.crawler,data.searchResult.mods.searchRapidFilters.content,data.searchResult.mods.searchRefineFilters.content,data.searchResult.mods.sortBar.tItemType,data.searchResult.mods.sortBar.content,data.searchResult.mods.itemList.content,...,data.searchResult.modsStyle.image.small_gap,data.searchResult.modsStyle.prices.decimal_point,data.searchResult.modsStyle.prices.comma_style,data.searchResult.modsStyle.prices.symbol_position,data.searchResult._host,data.searchResult.scm,data.searchResult.version,data.searchResult.srpResult,data.searchResult.tpp_trace,data.trafficChannel
0,200,537,True,1,False,"[{'paramType': 'List', 'rapidTiling': True, 'i...","[{'paramType': 'String', 'rapidTiling': False,...",nt_mainsearch_sortbar,"[{'sortOrders': [{'selected': True, 'order': '...",[{'image': {'imgUrl': '//ae04.alicdn.com/kf/S7...,...,2,.,",",left,hippo.033003002073.us68,1007.28539.297875.0,1.0,[20],2101e9cf16686296505721657ea0cf,main

In [ ]:
mshoes_df = df[['data.searchResult.mods.itemList.content']]
mshoes_df

             data.searchResult.mods.itemList.content
0  [{'image': {'imgUrl': 'https://ae04.alicdn.com...

In [ ]:
mshoes_productId = ((mshoes_df["data.searchResult.mods.itemList.content"].values[0][0]['productId']))


mshoes_productId_list = []


for i in range (20):
    each_value = ((mshoes_df["data.searchResult.mods.itemList.content"].values[0][i]['productId']))
    
    mshoes_productId_list.append(each_value)

print(mshoes_productId)

3256803290146743

In [ ]:
mshoes_title = ((mshoes_df["data.searchResult.mods.itemList.content"].values[0][0]['title']))

mshoes_title_list = []

for i in range (20):
    each_value = ((mshoes_df["data.searchResult.mods.itemList.content"].values[0][i]['title']['displayTitle']))
    wflats_title_list.append(each_value)

print(mshoes_title_list)

[]

## Combine All Categories

In [ ]:
data = np.array([[3256802423567155,
 3256803147612333,
 3256803313822268,
 3256803613454020,
 3256804146039143,
 3256804273010958,
 3256804288091339,
 3256804340338295,
 3256804374631137,
 3256804549567127,
 3256804564507961,
 3256804598834886,
 3256804600087452,
 3256804603507576,
 3256804606583693,
 3256804627451745,
 3256804679939115,
 3256804683170661,
 3256804697787771,
 3256804718617801], 
[3256803899670216,
 3256803910990175,
 3256804274369718,
 3256804288091339,
 3256804339852643,
 3256804374631137,
 3256804390450457,
 3256804419670610,
 3256804465546586,
 3256804536446371,
 3256804549567127,
 3256804603507576,
 3256804635290857,
 3256804676604636,
 3256804696130563,
 3256804698461319,
 3256804706160135,
 3256804710640068,
 3256804718617801,
 3256804728034603],
[3256802423567155,
 3256803290146743,
 3256803298586233,
 3256803305179821,
 3256803443967583,
 3256803448034929,
 3256803613454020,
 3256803636531347,
 3256803958419735,
 3256804096886433,
 3256804146965002,
 3256804520151422,
 3256804538602358,
 3256804583276496,
 3256804627451745,
 3256804679939115,
 3256804680467020,
 3256804683170661,
 3256804683702066,
 3256804697787771],
[2255800565385191,
 3256803193913624,
 3256803288474366,
 3256803380552863,
 3256803456568863,
 3256803852328051,
 3256804288946512,
 3256804345871208,
 3256804389102849,
 3256804398579682,
 3256804399002172,
 3256804456692695,
 3256804548714244,
 3256804558295955,
 3256804564507961,
 3256804588660403,
 3256804602698717,
 3256804622918647,
 3256804704992185,
 3256804705540267]])

dataset = pd.DataFrame({'Womens Shoes': data[0], 'Womens Boots': data[1], 'Women Flats': data[2], 'Mens Shoes': data[3]})
print(dataset)

In [ ]:
df = pd.DataFrame(dataset)
df

In [ ]:
df.to_csv(index=False)

compression_opts = dict(method='zip', archive_name='productIds_bycategory.csv')  
df.to_csv('productIds_bycategory.zip', index=False, compression=compression_opts) 

from pathlib import Path  
filepath = Path('productIds_bycategory.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)

## Creating Product Feedback Database
### Plug in product IDs to compile and compare feedback within and between categories 
#### Keys to compare: "data.evaViewList.[0].buyerFeedback",  "data.evaViewList.[0].images", "data.productEvaluationStatistic."

In [ ]:
url = "https://ali-express1.p.rapidapi.com/product/3256802423567155/feedback/"

querystring = {"country":"us","page":"1","type":"all"}

headers = {
	"X-RapidAPI-Key": "d60b547ecbmshfef17f77d83986cp115e1ajsne03176a7f3a6",
	"X-RapidAPI-Host": "ali-express1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)
json = response.json()

In [ ]:
df = pd.DataFrame(json)

In [ ]:
df.to_csv(index=False)

compression_opts = dict(method='zip', archive_name='out.csv')  
df.to_csv('out.zip', index=False, compression=compression_opts) 

from pathlib import Path  
filepath = Path('out.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)  

# set path to file
p = Path('out.csv')

# read json
with p.open('r', encoding='utf-8') as f:
    data = json

# create dataframe
df = pd.json_normalize(data)
df

In [ ]:
df = df[['data.evaViewList',
'data.productEvaluationStatistic.evarageStar',
'data.productEvaluationStatistic.evarageStarRage',
'data.productEvaluationStatistic.fiveStarNum',
'data.productEvaluationStatistic.fiveStarRate',
'data.productEvaluationStatistic.fourStarNum',
'data.productEvaluationStatistic.fourStarRate',
'data.productEvaluationStatistic.negativeNum',
'data.productEvaluationStatistic.negativeRate',
'data.productEvaluationStatistic.neutralNum',
'data.productEvaluationStatistic.neutralRate',
'data.productEvaluationStatistic.oneStarNum',
'data.productEvaluationStatistic.oneStarRate',
'data.productEvaluationStatistic.positiveNum',
'data.productEvaluationStatistic.positiveRate',
'data.productEvaluationStatistic.threeStarNum',
'data.productEvaluationStatistic.threeStarRate',
'data.productEvaluationStatistic.totalNum',
'data.productEvaluationStatistic.twoStarNum',
'data.productEvaluationStatistic.twoStarRate',]]
        
df

KeyError: "None of [Index(['data.evaViewList', 'data.productEvaluationStatistic.evarageStar',\n       'data.productEvaluationStatistic.evarageStarRage',\n       'data.productEvaluationStatistic.fiveStarNum',\n       'data.productEvaluationStatistic.fiveStarRate',\n       'data.productEvaluationStatistic.fourStarNum',\n       'data.productEvaluationStatistic.fourStarRate',\n       'data.productEvaluationStatistic.negativeNum',\n       'data.productEvaluationStatistic.negativeRate',\n       'data.productEvaluationStatistic.neutralNum',\n       'data.productEvaluationStatistic.neutralRate',\n       'data.productEvaluationStatistic.oneStarNum',\n       'data.productEvaluationStatistic.oneStarRate',\n       'data.productEvaluationStatistic.positiveNum',\n       'data.productEvaluationStatistic.positiveRate',\n       'data.productEvaluationStatistic.threeStarNum',\n       'data.productEvaluationStatistic.threeStarRate',\n       'data.productEvaluationStatistic.totalNum',\n       'data.productEvaluationStatistic.twoStarNum',\n       'data.productEvaluationStatistic.twoStarRate'],\n      dtype='object')] are in the [columns]"

In [ ]:
print((df["data.evaViewList"].values[0][0]['buyerFeedback']))

In [ ]:
print((df["data.evaViewList"].values[0][0]['images']))

### Ended up pasting feedback results per product id into csv files for each category

In [ ]:
# df.to_excel("output.xlsx",
#              sheet_name='Sheet_name_1')

 ## Product IDs

In [ ]:
 
    Womens Shoes      Womens Boots       Women Flats        Mens Shoes
0   3256802423567155  3256803899670216  3256802423567155  2255800565385191
1   3256803147612333  3256803910990175  3256803290146743  3256803193913624
2   3256803313822268  3256804274369718  3256803298586233  3256803288474366
3   3256803613454020  3256804288091339  3256803305179821  3256803380552863
4   3256804146039143  3256804339852643  3256803443967583  3256803456568863
5   3256804273010958  3256804374631137  3256803448034929  3256803852328051
6   3256804288091339  3256804390450457  3256803613454020  3256804288946512
7   3256804340338295  3256804419670610  3256803636531347  3256804345871208
8   3256804374631137  3256804465546586  3256803958419735  3256804389102849
9   3256804549567127  3256804536446371  3256804096886433  3256804398579682
10  3256804564507961  3256804549567127  3256804146965002  3256804399002172
11  3256804598834886  3256804603507576  3256804520151422  3256804456692695
12  3256804600087452  3256804635290857  3256804538602358  3256804548714244
13  3256804603507576  3256804676604636  3256804583276496  3256804558295955
14  3256804606583693  3256804696130563  3256804627451745  3256804564507961
15  3256804627451745  3256804698461319  3256804679939115  3256804588660403
16  3256804679939115  3256804706160135  3256804680467020  3256804602698717
17  3256804683170661  3256804710640068  3256804683170661  3256804622918647
18  3256804697787771  3256804718617801  3256804683702066  3256804704992185
19  3256804718617801  3256804728034603  3256804697787771  3256804705540267

In [ ]:
# my_list = df.columns.values.tolist()
# my_list