In [43]:
import pandas as pd

df = pd.read_csv ('Womens_Clothing_E-Commerce_Reviews.csv')
print(df)

       Unnamed: 0  Clothing ID  Age  \
0               0          767   33
1               1         1080   34
2               2         1077   60
3               3         1049   50
4               4          847   47
...           ...          ...  ...
23481       23481         1104   34
23482       23482          862   48
23483       23483         1104   31
23484       23484         1084   28
23485       23485         1104   52

                                                   Title  \
0                                                    NaN
1                                                    NaN
2                                Some major design flaws
3                                       My favorite buy!
4                                       Flattering shirt
...                                                  ...
23481                     Great dress for many occasions
23482                         Wish it was made of cotton
23483                              Cute, but see through
23484  Very cute dress, perfect for summer parties an...
23485                    Please make more like this one!

                                             Review Text  Rating  \
0      Absolutely wonderful - silky and sexy and comf...       4
1      Love this dress!  it's sooo pretty.  i happene...       5
2      I had such high hopes for this dress and reall...       3
3      I love, love, love this jumpsuit. it's fun, fl...       5
4      This shirt is very flattering to all due to th...       5
...                                                  ...     ...
23481  I was very happy to snag this dress at such a ...       5
23482  It reminds me of maternity clothes. soft, stre...       3
23483  This fit well, but the top was very see throug...       3
23484  I bought this dress for a wedding i have this ...       3
23485  This dress in a lovely platinum is feminine an...       5

       Recommended IND  Positive Feedback Count   Division Name  \
0                    1                        0       Initmates
1                    1                        4         General
2                    0                        0         General
3                    1                        0  General Petite
4                    1                        6         General
...                ...                      ...             ...
23481                1                        0  General Petite
23482                1                        0  General Petite
23483                0                        1  General Petite
23484                1                        2         General
23485                1                       22  General Petite

      Department Name Class Name
0            Intimate  Intimates
1             Dresses    Dresses
2             Dresses    Dresses
3             Bottoms      Pants
4                Tops    Blouses
...               ...        ...
23481         Dresses    Dresses
23482            Tops      Knits
23483         Dresses    Dresses
23484         Dresses    Dresses
23485         Dresses    Dresses

[23486 rows x 11 columns]

In [44]:
df.fillna("untitled")

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,untitled,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,untitled,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

In [45]:
# Create a Ratings list.
Rating = df["Rating"].tolist()
Rating

[4,
 5,
 3,
 5,
 5,
 2,
 5,
 4,
 5,
 5,
 3,
 5,
 5,
 5,
 3,
 4,
 3,
 5,
 5,
 5,
 4,
 4,
 2,
 3,
 5,
 3,
 2,
 4,
 5,
 5,
 5,
 5,
 5,
 2,
 5,
 4,
 4,
 5,
 5,
 5,
 4,
 5,
 5,
 4,
 5,
 4,
 5,
 5,
 5,
 5,
 4,
 5,
 3,
 5,
 4,
 5,
 2,
 3,
 4,
 4,
 5,
 1,
 5,
 5,
 5,
 4,
 4,
 5,
 2,
 3,
 4,
 2,
 5,
 4,
 5,
 5,
 4,
 2,
 5,
 4,
 5,
 5,
 5,
 5,
 3,
 1,
 4,
 4,
 2,
 4,
 4,
 5,
 5,
 5,
 4,
 5,
 1,
 1,
 5,
 3,
 4,
 4,
 5,
 2,
 2,
 5,
 4,
 4,
 5,
 5,
 1,
 3,
 5,
 5,
 2,
 4,
 4,
 5,
 2,
 5,
 5,
 5,
 5,
 5,
 3,
 3,
 4,
 5,
 4,
 5,
 4,
 3,
 4,
 5,
 5,
 4,
 4,
 4,
 4,
 5,
 5,
 4,
 5,
 5,
 3,
 3,
 5,
 5,
 5,
 5,
 5,
 4,
 3,
 3,
 3,
 5,
 5,
 3,
 4,
 4,
 4,
 1,
 4,
 5,
 4,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 5,
 4,
 5,
 5,
 2,
 5,
 5,
 4,
 5,
 4,
 2,
 2,
 4,
 5,
 4,
 4,
 4,
 2,
 5,
 5,
 3,
 5,
 5,
 5,
 5,
 3,
 3,
 5,
 3,
 5,
 4,
 3,
 5,
 4,
 5,
 1,
 5,
 4,
 4,
 5,
 1,
 5,
 2,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 4,
 5,
 5,
 4,
 4,
 4,
 5,
 5,
 2,
 5,
 5,
 5,
 5,
 2,
 5,
 3,
 4,
 1,
 5,
 4,
 3,
 5,
 3,
 4,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 4,
 3,
 5,
 5,
 5,
 3,
 5,
 5,
 4,
 5,
 4,
 4,
 5,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 2,
 5,
 2,
 5,
 5,
 5,
 5,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 3,
 5,
 5,
 5,
 4,
 5,
 5,
 3,
 3,
 4,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 2,
 5,
 4,
 5,
 5,
 3,
 4,
 5,
 5,
 1,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 3,
 5,
 5,
 5,
 5,
 3,
 2,
 4,
 5,
 2,
 5,
 5,
 1,
 5,
 3,
 3,
 4,
 5,
 3,
 5,
 5,
 4,
 5,
 5,
 2,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 3,
 5,
 5,
 5,
 4,
 3,
 4,
 3,
 5,
 4,
 2,
 5,
 4,
 1,
 4,
 5,
 3,
 4,
 3,
 3,
 3,
 5,
 4,
 5,
 5,
 5,
 3,
 2,
 5,
 5,
 3,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 2,
 5,
 3,
 5,
 4,
 5,
 3,
 4,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 4,
 4,
 5,
 4,
 4,
 5,
 3,
 3,
 5,
 5,
 2,
 4,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 5,
 5,
 5,
 3,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 4,
 5,
 5,
 5,
 2,
 5,
 5,
 4,
 4,
 3,
 5,
 5,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 5,
 5,
 4,
 5,
 5,
 3,
 2,
 3,
 4,
 5,
 2,
 5,
 4,
 3,
 5,
 4,
 5,
 5,
 2,
 5,
 3,
 5,
 5,
 5,
 4,
 2,
 5,
 5,
 4,
 5,
 1,
 5,
 5,
 5,
 5,
 3,
 5,
 5,
 5,
 3,
 3,
 5,
 4,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 3,
 5,
 3,
 2,
 5,
 4,
 5,
 5,
 4,
 4,
 5,
 4,
 5,
 5,
 5,
 4,
 5,
 1,
 4,
 5,
 4,
 5,
 4,
 4,
 5,
 5,
 1,
 5,
 5,
 4,
 3,
 2,
 3,
 2,
 3,
 3,
 4,
 5,
 4,
 4,
 2,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 3,
 4,
 3,
 4,
 5,
 5,
 5,
 1,
 5,
 5,
 3,
 4,
 4,
 3,
 2,
 4,
 4,
 5,
 5,
 5,
 5,
 4,
 5,
 4,
 5,
 5,
 3,
 5,
 4,
 5,
 5,
 4,
 5,
 4,
 5,
 5,
 1,
 5,
 3,
 4,
 5,
 5,
 4,
 5,
 5,
 4,
 5,
 4,
 2,
 4,
 1,
 4,
 5,
 5,
 5,
 5,
 5,
 2,
 5,
 5,
 5,
 2,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 2,
 3,
 4,
 5,
 5,
 5,
 2,
 3,
 5,
 5,
 4,
 4,
 4,
 5,
 5,
 4,
 5,
 5,
 3,
 5,
 5,
 5,
 5,
 1,
 5,
 4,
 3,
 5,
 5,
 5,
 2,
 5,
 3,
 4,
 5,
 3,
 5,
 2,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 5,
 3,
 5,
 4,
 5,
 5,
 4,
 3,
 5,
 5,
 3,
 5,
 5,
 4,
 4,
 4,
 3,
 1,
 4,
 5,
 3,
 5,
 5,
 5,
 5,
 4,
 3,
 2,
 5,
 5,
 3,
 5,
 5,
 5,
 3,
 3,
 4,
 5,
 4,
 3,
 2,
 1,
 4,
 4,
 5,
 2,
 5,
 2,
 5,
 5,
 5,
 5,
 2,
 5,
 1,
 3,
 4,
 5,
 4,
 3,
 5,
 4,
 3,
 5,
 4,
 1,
 3,
 5,
 5,
 5,
 4,
 5,
 4,
 5,
 5,
 5,
 5,
 4,
 2,
 2,
 3,
 5,
 5,
 5,
 5,
 3,
 2,
 3,
 4,
 4,
 2,
 3,
 5,
 4,
 5,
 4,
 5,
 2,
 3,
 4,
 3,
 2,
 2,
 3,
 5,
 4,
 4,
 2,
 2,
 4,
 2,
 5,
 5,
 4,
 3,
 5,
 4,
 5,
 5,
 1,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 3,
 5,
 5,
 5,
 3,
 5,
 4,
 5,
 2,
 5,
 4,
 5,
 5,
 4,
 5,
 2,
 2,
 3,
 4,
 5,
 5,
 5,
 2,
 5,
 4,
 2,
 5,
 4,
 4,
 2,
 5,
 1,
 5,
 5,
 5,
 5,
 5,
 3,
 5,
 4,
 4,
 4,
 5,
 1,
 3,
 3,
 3,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 2,
 3,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 5,
 5,
 4,
 5,
 5,
 5,
 3,
 5,
 5,
 3,
 4,
 5,
 5,
 5,
 2,
 4,
 5,
 3,
 4,
 5,
 2,
 4,
 4,
 5,
 4,
 4,
 5,
 3,
 5,
 5,
 5,
 5,
 4,
 5,
 4,
 2,
 4,
 3,
 5,
 3,
 5,
 5,
 5,
 5,
 1,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 3,
 3,
 3,
 5,
 5,
 5,
 5,
 5,
 ...]

In [46]:
# Create bins in which to place values based Ratings
bins = [0, 1, 2, 3, 4, 5, 6]

# Create labels for these bins
group_labels = ["Negative", "Negative", "Negative", "Positive", "Positive", "Positive"]

In [47]:
# Slice the data and place it into bins
pd.cut(df["Rating"], bins, labels=group_labels, ordered=False).head()

0    Positive
1    Positive
2    Negative
3    Positive
4    Positive
Name: Rating, dtype: category
Categories (2, object): ['Negative', 'Positive']

In [48]:
# Place the data series into a new column inside of the DataFrame
df["Positive or Negative"] = pd.cut(df["Rating"], bins, labels=group_labels, ordered=False)
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Positive or Negative
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,Positive
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,Positive
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,Negative
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,Positive
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Positive

In [49]:
for i in range (len(Rating)):
    
    if i > 3
        print (Positive)
        
    else:
        if i < 3
        print (Negative)

SyntaxError: invalid syntax (251069310.py, line 3)